{% extends 'base.html' %}

{% block content %}
{% load wiki_text %}
    <div class="accordion" id="accordion2">
    {% for page in page_history %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ page.name }}">
                {{ page.caption }} от {{ page.dt }} с {{ page.ip }}
                </a>
            </div>
            <div id="collapse{{ page.name }}" class="accordion-body collapse out">
                <div class="accordion-inner">
                    <div style="white-space: pre">{% autoescape off %}{{ page.text|wiki_text }}{% endautoescape %}</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}
